.legend-container {
  grid-row: 1 / span 3;
  grid-column: 3 / span 10;
  display: grid;
  justify-content: center;
  padding: 0px 60px;
  gap: 10px 10px;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.legend-filter {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-textlight);
  font-size: 2vw;
}

.legend-row-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  border-radius: 25px;
}

.legend-color-circle {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
}

.legend-name {
  color: var(--color-textlight);
  font-weight: 700;
  font-size: 0.7vw;
}

#all:hover {
  background-color: var(--color-textlight);
  transition: 0.3s;
}

#alkalimetal:hover {
  background-color: var(--color-alkali);
  transition: 0.3s;
}

#alkalineearthmetal:hover {
  background-color: var(--color-alkalineEarthMetals);
  transition: 0.3s;
}

#transitionmetal:hover {
  background-color: var(--color-transitonMetals);
  transition: 0.3s;
}

#post-transitionmetal:hover {
  background-color: var(--color-postTran);
  transition: 0.3s;
}

#metalloid:hover {
  background-color: var(--color-metaloids);
  transition: 0.3s;
}

#nonmetal:hover {
  background-color: var(--color-reactiveNonmetals);
  transition: 0.3s;
}

#halogen:hover {
  background-color: var(--color-halogens);
  transition: 0.3s;
}

#noblegas:hover {
  background-color: var(--color-nobelGases);
  transition: 0.3s;
}

#lanthanoid:hover {
  background-color: var(--color-lathanides);
  transition: 0.3s;
}

#actinoid:hover {
  background-color: var(--color-actines);
  transition: 0.3s;
}

.c1 {
  background-color: var(--color-textlight);
}
.c2 {
  background-color: var(--color-alkali);
}
.c3 {
  background-color: var(--color-alkalineEarthMetals);
}
.c4 {
  background-color: var(--color-transitonMetals);
}
.c5 {
  background-color: var(--color-postTran);
}
.c6 {
  background-color: var(--color-metaloids);
}
.c7 {
  background-color: var(--color-reactiveNonmetals);
}
.c8 {
  background-color: var(--color-halogens);
}
.c9 {
  background-color: var(--color-unknownProp);
}
.c10 {
  background-color: var(--color-nobelGases);
}
.c11 {
  background-color: var(--color-lathanides);
}
.c12 {
  background-color: var(--color-actines);
}
