html,
body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: var(--color-background);
  font-family: "Roboto";
}

header h1 {
  color: var(--color-textlight);
  font-family: sans-serif;
  font-size: 3vw;
}

.grid-container1 {
  width: 80vw;
  height: calc(80vw - 48vw);
  display: grid;
  gap: 10px;
  justify-content: center;
  align-content: center;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(18, 1fr);
}

.card1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.elementcard {
  width: 0.8fr;
  height: 0.8fr;
  max-width: 100px;
  max-height: 100px;
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.elementcard:hover {
  cursor: pointer;
  filter: invert(1);
}

.grid-container2 {
  margin: 20px 0;
  width: 62vw;
  height: calc(60vw - 51vw);
  display: grid;
  gap: 10px;
  justify-content: center;
  align-content: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(14, 1fr);
}

.elementcard-topRow {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 60%;
}

.elementcard-elementSymbol {
  color: var(--color-textlight);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.6vw;
}

.elementcard-elementName {
  font-weight: 900;
  font-size: 60%;
}
