@media only screen and (max-width: 1220px) {
  .elementcard-topRow {
    display: none;
  }
  .elementcard-elementName {
    display: none;
  }
  .elementcard-elementSymbol {
    font-size: 2vw;
  }
  .elementcard {
    justify-content: center;
  }
  .legend-container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
    padding-bottom: 1vh;
  }
  .legend-filter {
    grid-row: 1 / span 1;
    grid-column: 1 / span 6;
  }
  .legend-row-wrapper {
    justify-content: center;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
  }
  .legend-name {
    display: none;
  }
  .info-container p {
    background-color: black;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 0px black;
    border: 1px solid black;
    box-shadow: 0px 0px 0px 0px black;
  }
}
