.moreInfo-Container {
  background-color: var(--color-background);
  width: 800px;
  height: 600px;
  position: absolute;
  right: 33vw;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 5px 5px 0px 5px black;
}

.slidein {
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.moreInfo-elementcard {
  border: 2px solid black;
  box-shadow: 5px 5px 0px 2px black;
  border-radius: 10px;
  position: relative;
  top: 30px;
  left: 15px;
  width: 120px;
  height: 120px;
}

.info-container {
  padding: 1% 5%;
  padding-bottom: 5%;
  height: 90%;
  width: 75%;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 5px 5px 0px 2px black;
  position: relative;
  right: -170px;
  bottom: 90px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.closeInfoButton {
  font-weight: 900;
  height: 10%;
  width: 120px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 0px 2px black;
  position: relative;
  bottom: 147px;
  left: 15px;
}

.closeInfoButton:hover {
  box-shadow: 0px 0px 0px 0px black;
  bottom: 142px;
  left: 20px;
  transition: 0.29s;
}

.info-element-name {
  color: var(--color-textlight);
  font-size: 60px;
  width: 100%;
  margin-bottom: 2%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 5px black;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.info-container p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-textlight);
  text-shadow: 3px 3px 0px black;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 0px 2px black;
  padding: 10px;
}

@keyframes slidein {
  from {
    right: -100vw;
  }
  to {
    right: 33vw;
  }
}
