.moreInfo-Container {
  background-color: var(--color-background);
  width: 35vw;
  height: 35vw;
  padding: 2vw;
  position: absolute;
  gap: 3%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  right: 30vw;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 5px 5px 0px 5px rgb(0, 0, 0);
}

.slidein {
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: normal;
}

#moreInfo-elementcard {
  grid-column: 1 / span 2;
  grid-row: 1 / span 5;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 5px 5px 0px 2px black;
  border-radius: 10px;
}

.info-container {
  grid-column: 3 / span 9;
  grid-row: 1 / span 10;
  border-radius: 20px;
  padding: 1% 10%;
  border: 2px solid black;
  box-shadow: 5px 5px 0px 2px black;
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.closeInfoButton {
  font-weight: 900;
  grid-column: 1 / span 2;
  grid-row: 10 / span 1;

  max-width: 120px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 0px 2px black;
}

.closeInfoButton:hover {
  box-shadow: 0px 0px 0px 0px black;
  position: relative;
  top: 5px;
  right: -5px;
  transition: 0s;
}

.info-element-name {
  color: var(--color-textlight);
  font-size: 3vw;
  width: 100%;
  margin-bottom: 2%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 5px black;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.info-container p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-textlight);
  text-shadow: 3px 3px 0px black;
  font-weight: 600;
  font-style: normal;
  font-size: 1vw;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 0px 2px black;
  padding: 10px;
}

@keyframes slidein {
  from {
    right: -100vw;
  }
  to {
    right: 30vw;
  }
}
